body {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(175, 30, 207), rgb(253, 240, 255));
    background-repeat: no-repeat;
}
.main{
    width: 500px;
    height: 620px;
    margin: 15% auto;
    border-radius: 5px;
    padding: 2.6rem;
    background-color: white;
    text-align: center;
}
.checkbox mb-3{
    text-align:left;
}
.profile-img {
    width: 100px;
    margin: 0 auto;
}
.fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
